<div
  class="rounded-tl-md rounded-tr-md border overflow-hidden bg-opacity-60 backdrop-blur-sm shadow-lg z-50"
>
  <div class="flex justify-between p-3 tracking-wider">
    <div class="flex items-center">
      <div class="px-2 text-sm font-black rounded-sm bg-gray-400">clickbot</div>
      <div class="font-medium text-black rounded-sm bg-gray-400">/ Actions</div>
    </div>
    <button class="w-8 rounded-md bg-gray-300 text-gray-600">x</button>
  </div>

  <hr class="m-2" />
  <span class="text-gray-300 text-sm font-bold m-4">choose one...</span>

  <div class="flex">
    <div
      *ngFor="let square of squares"
      class="relative min-w-32 m-4 mb-5 h-36 w-36 cursor-pointer transition duration-300 hover:rotate-45"
    >
      <div
        class="absolute inset-0 transform rounded-lg shadow-2xl z-10 bg-gray-800 bg-opacity-70"
      ></div>

      <div
        class="relative h-full w-full rounded-lg min-w-[100px] bg-transparent z-20 transition-transform duration-300 hover:scale-125 hover:-rotate-45"
      >
        <div class="flex flex-col items-center gap-2 justify-center h-full">
          <div class="h-1/4 flex items-center text-2xl">
            {{ square.icon }}
          </div>
          <div class="text-orange-300 text-lg">{{ square.title }}</div>
          <div class="text-center text-xs font text-gray-400">
            {{ square.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
